html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0b0b0b;
}


.moviegrid{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
  justify-items: center;
}

.movie-review {
  margin-top: 0px;
  padding: 20px;
  color: #eeeeee;
  background-color: #0b0b0b;
  padding-top: 90px;
 
}

.movie-details {
  
  gap: 30px;
  margin-bottom: 30px;
   display: flex;
    padding-left:310px;
    
}

.review-poster {
  height: 500px;
  border-radius: 10px;
  width:300px;
}

.details-text {
  flex: 1;
}

.book-now-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #00adb5;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  font-size: 26px;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  width: 225px;
}

.movie-cast {
  margin-bottom: 0px;
}

.cast-list {
  display: flex;
  gap: 65px;
  margin-top: 10px;
}

.cast-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.memname{
  font-size: 18px;
  padding-left: 18px;
}
.review-box {
  background-color: #1f1f1f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


/*Sign Up page */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 400px;
  background-color: #1f1f1f;
}

.signUp {
  color: #00adb5;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  margin-bottom: 15px;
}

.username, .email, .password {
   background-color: #1f1f1f;
     border-color: #eeeeee;
     border-radius: 3%;
     padding:20px 10px;
     font-size: 18px;
     width:290px;
     height: 6px;
     color: #eeeeee;
}

.input {
  margin: 7px;
}

.getStarted {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #00adb5;
  border: none;
  color: #eeeeee;
  font-weight: normal;
  font-size: 22px;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  width: 220px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.getStarted:hover {
  border: 2px solid #eeeeee;
}

/*Sign page*/




