.showtime-container{
    padding: 30px;

}

.showtime-header{
  display: flex;
  gap : 120px;
  align-items: center;
  margin-top: 20px;
  height: 30px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 0px;
}

.Sdate-btn{
    margin-top: 15px;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
  color: #1f1f11;
  font-weight: normal;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 130px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.Sdate-btn:focus{
  background-color: #00adb5;
  color: #eeeeee;
}

.time-btn{
    margin-top: 15px;
  padding: 10px 20px;
  background-color: #00adb5;
  border: none;
  color: #eeeeee;
  font-weight: normal;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  height: 35px;
  width: 110px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.theatre-block {
    padding: 10px;
    border-radius: 10px;
     border: 1.5px solid white;
}