.head{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-bottom: 1px;
    padding-top: 1px;
    gap: 20px;
    background-color: #0f0f00;
    margin-top: 5px;
}

.location-input{
     background-color: #1f1f1f;
     border-radius: 20px;
     border-color: #00adb5;
     padding:20px 10px;
     font-size: 18px;
     width:300px;
     height:30px;
     color: #eeeeee;

}

.h-btn {
  background-color: #00adb5;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  color: #eeeeee;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.search-input{
    background-color: #1f1f1f;
     border-radius: 20px;
     border-color: #00adb5;
     padding:20px 10px;
     width:400px;
     font-size: 18px;
     height:30px;
     color: #eeeeee;
}

.cine-img{
    height:250px;
    object-fit: contain;
    width:350px;
}

.auth-link {
  margin-left: 20px;
  text-decoration: none;
  color: #00adb5; 
  font-size: 22px;
}

.auth-link:hover {
  color : #eeeeee;
}