.container{
    
    background-color: #1f1f1f;
    padding-top: 2px;
    height:65px;
}

.cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    padding: 20px;
    padding-bottom: 10px;
}

.tag{
    color: #00adb5;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
}

.tag:hover{
    color:aliceblue;
}